* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: hsl(30, 38%, 92%);
    
}
.outer-card{
    height:27rem;
    width:45rem;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.img1 {
    width: 100% ;
    height: 100% ;
    border-radius: 2% 0% 0% 2%;
}

.img2 {
    display: none;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    color: rgb(128, 126, 126);
    letter-spacing: .5rem;
    font-size: 0.8rem;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

.card-body {
    padding: 12%;

}

.product-name {
    font-family: 'Fraunces', serif;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(128, 126, 126);
    margin-top: 2rem;
}

.prices {
    display: flex;
    margin: auto;

}

.pricefont {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 1.5rem;
}

.btn {
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    text-align: center;
    border:none;
    color:white;


}

.btn:hover,  .btn:active:focus {
    background-color:  hsl(159, 35%, 16%);
    color:white;

}

.oldprice {
    text-decoration: line-through;
    margin-left: 10%;
    margin-top: 3%;
    color: rgb(168, 168, 168);
    margin-top: 2rem;


}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .card {
        margin-top: 0%;
    }
    .container-fluid{
        height:100%;

    }
    .outer-card {
        height:100%;
        width:100%;
        margin-top: 30%;


    }

    .card-body {
        padding: 30px 35px 10px;
        border-radius: 0% 0% 5% 5%;
    }

    .card-title {
        font-family: 'Montserrat', sans-serif;
        color: rgb(168, 168, 168);
        letter-spacing: .2rem;
        font-size: 12px;
    }


    .img1 {
        display: none;
    }

    .img2 {
        display: block;
        width: 100% ;
        height: auto ;
        border-radius:2% 2% 0% 0%;

    }

    .info {
        font-size: 14px;
        margin-top: 1rem;
    }

    .prices {
        display: flex;
        margin: auto;

    }

    .pricefont {
        font-size: 2rem;
        font-weight: 900;
        margin-top: 1.5rem;
    }

    .btn {
        width: 100%;
        text-align: center;
    }

    .btn:hover, .btn:active {
        background-color:  hsl(159, 35%, 16%)
    }
    
    .prices {
        display: flex;
        margin: auto;
        margin-top: -20px;

    }

    .oldprice {
        text-decoration: line-through;
        margin-left: 10%;
        margin-top: 3%;
        color: rgb(168, 168, 168);
        margin-top: 2rem;


    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}